.contact {
    height: 70rem;
    padding-left: 15%;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__bubble{
        position: absolute;
        top: 0;
        left: 0;
        width: 17.5%;
        z-index: -50;
    }

    &__img {
        height: 80%;
    }

    &__title {
        font-size: 2.5rem;
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            height: 100%;
            width: 80%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .4s;
            border-bottom: 2px solid $primary;
        }

        &:hover::before {
            width: 100%;
        }
    }

    &__paragraph {
        font-size: 1.6rem;
        margin: 3rem 0 5rem 0;;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.4rem;
    
}


.input {
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    width: 80%;
    border: none;
    outline: none;
    padding: 1.5rem;
    // margin: 1.5rem 0;
    color: darken($grey, 50%); 
    border-bottom: 3px solid $primary;

    &--middle {
        margin: 6rem 0;
    }

    &::placeholder {
        color: $primary;
        font-weight: bold;
    }

    &:focus {
        border-bottom:3px solid darken($primary, 15%);
    }

    &:focus:invalid {
        border-bottom: 3px solid $red;
    }
}

.textarea {
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    width: 100%;
    border: none;
    outline: none;
    padding: 1.5rem;
    margin-bottom: 5rem;
    border-bottom: 3px solid $primary;

    &::placeholder {
        color: $primary;
    }

    &:focus {
        color: darken($grey, 50%);
        border-bottom:3px solid darken($primary, 15%);
    }
}

