.hero {
    // background-color: $white;
    top: 8rem;
    height: 65rem;
    padding: 0 0 0 15%;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__bubble {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
    }

    &__img {
       height: 105%;
       z-index: -50;
    }

    &__box {
        // background-color: rgba(red, .4);

    }

    &__title {
        font-size: 3rem;
        line-height: 2.5rem;


        &--sm {
            font-size: 2.25rem;
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }
    }

    &__btn {
        font-size: 1.75rem; 
    }
}