.social {
    height: 10rem;
    padding-right: 5%;
    margin-top: 10rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__link {
        margin: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}